* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  /* height: 1000vh; */
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  background: black;
  color: #ffffff;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid black;
}

.coupon {
  background-color: #916242;
  text-align: center;
  padding: 5px;
  color: white;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  backdrop-filter: blur(10px);
  position: absolute;
  width: 100%;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 50px;
  list-style: none;
  position: relative;
  right: 126px;
}

.nav-links li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}

.nav-links li a:hover {
  text-decoration: und;
}

.logo img {
  height: 150px;
  width: auto;
  right: 130px;
  position: relative;
}

.icons {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 18px;
  color: #ffffff;
}

.home img {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: -1;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  color: #ffffff;
}

.image {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-image: url("https://i.pinimg.com/736x/a6/20/ab/a620ab777c73fbdd9195331230a00a5f.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.heading {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  background: black;
  color: #ffffff;
}

.title {
  margin-top: 100px;
}

.title h3 {
  /* margin-left: 5em; */
  font-size: 35px;
  text-align: center;
}

.products {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.attach {
  margin: 25px;
  border: 1px solid black;
  padding: 25px 25px;
  gap: 50px;
  border-radius: 15px;
  background-color: rgb(0, 0, 0);
}

.products > .attach > img {
  width: 100%;
  padding: 25px;
  border: 1px solid black;
  border-radius: 50%;
  transition: transform 1s ease, box-shadow 1s ease;
}

.products > .attach > img:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 1000px #00f0ff;
}

.detals > h2 {
  margin-top: 5px;
  color: rgb(8, 216, 243);
}

.btn > button {
  padding: 10px 159px;
  background: transparent;
  border: none;
  background-color: antiquewhite;
  border-radius: 50px;
  margin-top: 15px;
}

.platforms {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
}

.platforms > img:nth-child(2) {
  width: 200px;
}

.platforms > img:nth-child(3) {
  width: 200px;
}

footer {
  background: url("https://t3.ftcdn.net/jpg/01/84/63/08/360_F_184630858_k4zGVxp7vJGszuvNlZbCv09ZqQ0JKs4u.jpg");
  width: 100%;
  height: 750px;
  /* margin-top: 100px; */
  padding: 50px 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  color: white;
  overflow: hidden;
}

.foot-back {
  position: relative;
  z-index: 1;
}

.logo-center img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.slogan-line {
  margin-top: 35px;
  font-size: 20px;
  word-spacing: 3px;
}

.general {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
}

.add {
  width: 250px;
  line-height: 2;
  text-align: start;
}

.second h5 {
  font-size: larger;
  margin-bottom: 12px;
}

.second ul {
  list-style: none;
  text-align: start;
}

.second ul li {
  line-height: 2;
}

.third {
  width: 500px;
  font-size: 25px;
}

.third input {
  padding: 15px 35px;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  background: transparent;
  border: 1px solid white;
  color: rgb(255, 7, 7);
  font-weight: 600;
}

.third button {
  padding: 15px 25px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  position: relative;
  right: 9px;
  background-color: rgb(13, 208, 208);
}

.social-media {
  margin-top: 60px;
}

.social-media .fa-brands {
  margin: 0px 15px;
}



.last {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 35px;
}

.last ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  gap: 20px;
}

.last ul li a {
  text-decoration: none;
  color: white;
}

.last ul li a:hover {
  text-decoration: underline;
}

.final {
  margin-top: 50px;
}

.app-section {
  background: url("https://img.freepik.com/free-photo/vivid-blurred-colorful-wallpaper-background_58702-3984.jpg?uid=R143826622&ga=GA1.1.698039469.1749403346&semt=ais_hybrid&w=740");
  width: 100%;
  height: 750px;
  /* margin-top: 100px; */
  padding: 50px 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* position: relative; */
  color: white;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.app-btn > button {
  padding: 18px 38px;
  border-radius: 21px;
  margin-top: 25px;
  background: #ffffff;
  margin-left: 150px;
  border: none;
  font-size: larger;
  transition: 1s ease;
}

.app-btn > button:hover{
  background-color: black;
  color: white;
  cursor: pointer;

}

.app-heading {
  width: 31vw;
  font-size: 30px;
  margin-left: 150px;
}

.app-heading > span {
  font-weight: 300;
}

.models > img {
  width: 61vw;
  
}
